h1, h2, h3, h4, h5, h6 {
  font-family: 'Trirong',serif; }

.img {
  width: 100%;
  display: block; }

.text-white {
  color: #fff; }

.button {
  padding: .5rem 1rem;
  border: none;
  background: #f09029;
  color: #fff;
  transition: all .3s; }
  .button .fa {
    transition: all .3s; }
  .button:hover .fa {
    transform: translateX(4px); }
  .button:focus, .button:hover {
    background-color: #d7770f; }

.heading {
  font-weight: bold;
  margin: 0;
  line-height: .9; }
  .heading--1 {
    font-size: 4rem;
    color: #f09029; }
  .heading--2 {
    font-size: 2rem; }

*, html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  max-width: 1800px;
  margin: 0 auto; }

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Maitree', serif;
  color: #4a4a4a; }

.navbar {
  background-color: #fff;
  height: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navbar .navbar-brand {
    color: #f09029;
    text-transform: uppercase;
    font-family: 'Trirong', serif;
    font-weight: 700;
    font-size: 1.6rem; }
    .navbar .navbar-brand:hover {
      color: #f09029; }
  .navbar .navbar-nav {
    padding: 0;
    margin: 0; }
  .navbar .navbar-nav .active > .nav-link {
    color: #f09029;
    border-bottom: 2px solid #f09029;
    border-top: 2px solid #f09029; }
  .navbar .navbar-nav .nav-item:not(:last-child) {
    margin-right: 1.4rem; }
  .navbar .navbar-nav .nav-link {
    color: #f09029;
    font-weight: 700;
    padding: 0;
    font-size: .9rem;
    text-transform: uppercase;
    transition: all 1s;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent; }
    .navbar .navbar-nav .nav-link:hover {
      color: #f09029;
      border-bottom: 2px solid #f09029;
      border-top: 2px solid #f09029; }

#header {
  background-image: linear-gradient(45deg, #d3f5ff 0%, #dcf7ff 35%, #fff 35%);
  position: relative; }

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  align-items: center;
  column-gap: 1rem; }
  #home .image img {
    width: 100%;
    display: block; }
  #home .content h1 {
    font-size: 4rem;
    color: #f09029;
    font-weight: 700;
    margin: 0;
    line-height: .9; }

#discover {
  background-color: #f5f5f5;
  padding: 4rem 0;
  height: 100%; }
  #discover .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; }
    #discover .wrapper .images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: .6rem; }
      #discover .wrapper .images .image {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        transition: all .3s; }
        #discover .wrapper .images .image:nth-child(1) {
          background-image: url(./../images/wine.jpg);
          margin-left: auto; }
          #discover .wrapper .images .image:nth-child(1):hover {
            background-image: linear-gradient(#0004, #0006), url(./../images/wine.jpg); }
        #discover .wrapper .images .image:nth-child(2) {
          background-image: url(./../images/roll.jpg); }
          #discover .wrapper .images .image:nth-child(2):hover {
            background-image: linear-gradient(#0004, #0006), url(./../images/roll.jpg); }
        #discover .wrapper .images .image:nth-child(3) {
          background-image: url(./../images/grapes.jpg);
          margin-left: auto; }
          #discover .wrapper .images .image:nth-child(3):hover {
            background-image: linear-gradient(#0004, #0006), url(./../images/grapes.jpg); }
        #discover .wrapper .images .image:nth-child(4) {
          background-image: url(./../images/coffee.jpg); }
          #discover .wrapper .images .image:nth-child(4):hover {
            background-image: linear-gradient(#0004, #0006), url(./../images/coffee.jpg); }

#special {
  padding: 4rem 0; }
  #special .items {
    margin-top: 4rem;
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(3, 1fr); }
    #special .items .card:hover .des h6 {
      color: #f09029; }
    #special .items .card:hover .image img {
      transform: scale(1.1); }
    #special .items .image {
      width: 100%;
      height: 180px;
      overflow: hidden; }
      #special .items .image img {
        width: 100%;
        transition: transform .3s; }
    #special .items .des {
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-between; }
      #special .items .des h6 {
        font-weight: bold;
        transition: color .3s; }
    #special .items p {
      padding: 0 1rem; }
  #special .special-item {
    padding: 2rem 0;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 3rem; }
    #special .special-item .image {
      width: 70%; }
      #special .special-item .image img {
        display: block;
        width: 100%; }
    #special .special-item .content {
      text-align: right; }
      #special .special-item .content h6 {
        font-weight: 700; }
      #special .special-item .content h4 {
        font-size: 2.2rem;
        color: #f09029;
        font-weight: 700;
        margin: 0;
        line-height: .9; }

#chef {
  padding: 6rem 0;
  background-color: #f5f5f5; }
  #chef .chef-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    justify-content: center; }
    #chef .chef-container .chef {
      position: relative;
      background-color: #7e7e7e;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      perspective: 100px; }
      #chef .chef-container .chef .image {
        height: 400px;
        width: 100%;
        padding-left: 2rem; }
        #chef .chef-container .chef .image img {
          display: inline-block;
          height: 100%; }
      #chef .chef-container .chef .content {
        height: 100px;
        position: absolute;
        padding: 1rem;
        padding-top: 2rem;
        text-align: center;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.794);
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .4s;
        color: #f5f5f5;
        -webkit-backface-visibility: hidden;
        overflow: hidden; }
        #chef .chef-container .chef .content h5,
        #chef .chef-container .chef .content h6 {
          opacity: 0;
          transition: opacity .4s;
          transition-delay: .3s;
          -webkit-backface-visibility: hidden; }
      #chef .chef-container .chef--1 {
        border-radius: 40px 0 40px 40px; }
      #chef .chef-container .chef--3 {
        border-radius: 0px 40px 40px 40px; }
      #chef .chef-container .chef:hover {
        cursor: pointer; }
        #chef .chef-container .chef:hover .content {
          transform: scaleY(1); }
          #chef .chef-container .chef:hover .content h5,
          #chef .chef-container .chef:hover .content h6 {
            opacity: 1; }

#contact {
  padding: 6rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/grapes.jpg");
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed; }
  #contact form {
    margin-top: 3rem;
    width: 100%; }
  #contact input,
  #contact textarea {
    color: #fff;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    background: transparent;
    margin-bottom: 1rem; }
    #contact input::-webkit-input-placeholder,
    #contact textarea::-webkit-input-placeholder {
      color: #fffa; }
    #contact input:focus,
    #contact textarea:focus {
      outline: none;
      border-color: #f09029; }
  #contact .labelled {
    position: relative; }
  #contact .datepickerLabel {
    position: absolute;
    right: .8rem;
    top: .5rem;
    color: #fff; }
  #contact .button {
    display: block;
    margin: auto; }

#blog {
  padding: 6rem 0; }
  #blog p {
    margin: 0;
    padding: 0 1rem; }
  #blog .blog-items {
    margin-top: 4rem;
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%; }
    #blog .blog-items .card:hover .image img {
      transform: scale(1.1); }
    #blog .blog-items .image {
      width: 100%;
      height: 180px;
      overflow: hidden; }
      #blog .blog-items .image img {
        width: 100%;
        transition: transform .3s; }
    #blog .blog-items h6 {
      font-weight: bold;
      font-size: 1.2rem;
      padding: 1rem 0 .3rem 0; }
    #blog .blog-items .des {
      font-size: 12px;
      display: flex;
      width: 100%;
      justify-content: space-between; }
    #blog .blog-items a {
      text-decoration: none;
      color: #f09029;
      font-weight: bold;
      padding: .1rem 0;
      text-align: left;
      margin-top: .4rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid transparent;
      transition: all .3s; }
      #blog .blog-items a:hover {
        color: #d7770f;
        border-bottom: 1px solid #f09029; }

#reservation {
  padding: 6rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/roll.jpg");
  background-size: cover;
  background-position: center center; }
